/**
 * JsonToModelOnLine
 * @author ZXLee
 * @github https://github.com/SmileZXLee/JsonToModelOnLine
 */

body,html{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #0d0f32;
}
div,h1{
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
h1{
	text-align: center;
	height: 60px;
	color: white;
	line-height: 60px;
	margin: 0;
}
.function-part{
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: white;
	font-size: 14px;
}
.function-part label{
	margin-left: 20px;
}
.main{
	width: 90%;
	margin-left: 5%;
	margin-top: 10px;
	height: calc(92% - 60px - 60px);
	display: flex;
  overflow: hidden;
}
.input-part,.output-part{
	flex: 1;
	height: 100%;
	background-color: #0D0F32;
  overflow: hidden;
}
.input-part-textarea{
	width: 95%;
	height: 95%;
	background: #0D0F32;
	border-radius: 10px;
	border-width: 2px;
	border-color: white;
	color: white;
	font-size: 17px;
	padding: 2%;
}
.output-part-container{
	width: 95%;
	height: 95%;
	background: #0D0F32;
	border-radius: 10px;
  border: solid 2px #FFFFFF;
	font-size: 17px;
	padding: 2%;
  overflow-y: scroll;
}
.output-part-parent{
  color: white;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 15px;
}
.output-part-card{
  color: white;
  border-radius: 6px;
  user-select: all;
  -webkit-user-select: all;
  font-size: 15px;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: #f3f3f3;
}
.output-part-card-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
  background-color: #eeeeee;
}
.card-current-language{
  font-size: 12px;
  transform: scale(0.9);
  margin-left: 6px;
  font-weight: bold;
  color: #555555;
}
.copy-btn{
  cursor: pointer;
  font-size: 12px;
  color: #555555;
  height: 20px;
  width: 62px;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  border: solid 1px #555555;
  transform: scale(0.8);
  user-select: none;
  -webkit-user-select: none;
}
pre{
  margin: 0 !important;
  white-space: pre-wrap;
}
.output-part-empty{
  color: #888888;
}
.action-part{
	width: 24%;
	display: flex;
	justify-content: center;
}
.convert-action{
	width: 100%;
	height: 100%;
	background: #0D0F32;
	display: flex;
	justify-content: center;
	align-items: center;
}
.convert-icon{
	height: 150px;
	width: 100%;
}
.action-part{
	background: #FFFFFF;
}

pre code.hljs{
  padding: 12px !important;
  padding-top: 6px !important;
  background: #FFFFFF !important;
}

